[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"

[packages]
hanziconv = "*"
click = "*"
acrawler = "*"
toml = "*"
parselx = "*"
wcwidth = "*"
requests = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
